.enter-view-setup{
    -webkit-transition: 0.5s ease-in all; 
    -webkit-transition: 0.5s ease-in all;
    -moz-transition: 0.5s ease-in all;
    -o-transition: 0.5s ease-in all;
    transition: 0.5s ease-in all;
    position:relative;
    left:100%;
    opacity:0;
   
}
.enter-view-setup.enter-view-start{
	left:0;
    opacity: 1;
  
}