.enter-view-setup{
    -webkit-transition: 0.5s linear all; 
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
    opacity: 0;
}
.enter-view-setup.enter-view-start{
    opacity: 1;
}