	<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header" >Sidebar</li>
				<li ng-repeat="phone in stubs" > 
					<a href="http://twitter.github.io/bootstrap/examples/fluid.html#">{{phone.name}}</a></li>
			</ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h1>Angular UI exercise</h1>
          </div>


          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

<footer>
	<p>&copy; Company 2013</p>
</footer>