
<div class="container-fluid"  ng-animate="{enter: 'mycss-animation-setup.mycss-animation-start }">
      <div class="row-fluid">

          <div class="page-header">

            <h2>{{stub.name}} <small>{{stub.id}}</small></h2>
          </div>

			</div>
   <div class="stub-fluid">
		<ul class="thumbnails">
  		<li ng-repeat="img in stub.images">
  			<a href="#" class="thumbnail">
    			<img src="{{img}}">
				</a>
    		<p>{{img}}</p>
  		</li>
		</ul>
   </div>
</div> 
<footer>
	<p>&copy; Company 2013</p>
</footer>